table {
    border-collapse: collapse;
}

table th, table td {
    padding: 2px 8px;
    border: 1px solid #999999;
}

table th.empty {
    border: 0;
}

table td {
    text-align: right;
}

table td:first-child {
    text-align: left;
}

div.entry {
    margin-left: 1em;
}

div.entry p {
    margin-top: 1.5em;
}