.section h1 {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.section .graph-description {
    font-size: smaller;
    font-style: italic;
    max-width: 960px;
}

#game-summary table {
    width: 960px;
    border-collapse: collapse;
    font-size: 12px;
}

#game-summary table th, #game-summary table td {
    padding: 2px 8px;
    border: 1px solid #999999;
}

#game-summary table th.empty {
    border: 0;
}

#game-summary table td {
    text-align: right;
}

#game-summary table td:first-child {
    text-align: left;
    width: 20%;
}

table.view-board td {
    width: 50px;
    height: 40px;
    border: 1px solid black;
}

div#view-boards, div#fj-matrix-container {
    width: 960px;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-around;
}

table#fj-matrix td, table#fj-matrix th {
    width: 70px;
    height: 40px;
    border: 1px solid black;
}

table.view-board div {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

table.view-board div.daily-double {
    padding: 5px 5px;
    background-color: yellow;
}

table.view-board div div {
    height: 100%;
    width: auto;
    flex-grow: 1;
}