body {
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    border-bottom: 2px solid black;
}

#header #site-mast {
    font-size: 24px;
    margin-right: 1em;
}

#header .navigation-item {
    margin-left: 0.5em;
}

.toc-period {
    margin: 2em 0;
}

.toc-period .toc-period-header {
    font-size: 36px;
}

.toc-period-play-class {
    margin: 1em 1em;
}

.toc-period-play-class .toc-period-play-class-header span.toc-period-play-class-label {
    font-size: 24px;
}

.toc-period-play-class .toc-period-play-class-header span.toc-period-play-class-item {
    margin-left: 1em;
}

.toc-period-play-class .toc-period-play-game-list {
    margin: 0.5em 2em;
}

span.toc-period-play-class-control {
    cursor: pointer;
}

#footer {
    font-size: smaller;
    margin-top: 3em;
}

.j-dj-container {
    display: flex;
}

table.controlled-table th.controlled .control-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

table.controlled-table .table-control {
    cursor: pointer;
}

table.controlled-table th.controlled {
    display: none;
}

table.controlled-table td.controlled {
    display: none;
}

.graph-display-container {
    width: 1000px;
    height: 500px;
    margin: 1em;
    border-bottom: 1px solid black;
}

.full-round-trio-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.full-round-trio-container .full-round-trio-full {
    width: 60%;
    height: 500px;
}

.full-round-trio-container .full-round-trio-j, .full-round-trio-container .full-round-trio-dj {
    width: 40%;
    height: 200px;
}

.full-splitround-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.full-splitround-container .full-splitround-full {
    width: 70%;
    height: 500px;
}

.full-splitround-container .full-splitround-split {
    width: 30%;
    height: 500px;
}